{% extends "base.html.twig" %}
{% block content %}

  <iframe src="http://docs.test10279.apiary.io/#">
    <p>If the iframe doesn't load, you can consult the documentation directly in <a href="http://docs.test10279.apiary.io/#">Apiary</a></p>
  </iframe>
{% endblock%}
