{% extends "base.html.twig" %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="page-header">
          <h1>Documentacion de la API para la PDI</h1>
        </div>
        <p>
          La documentacion esta disponible en <a href="http://docs.test10279.apiary.io/#">Apiary</a>.
        </p>
      </div>
    </div>
  </div>
{% endblock%}
